@use './reset';

$font-family: 'Arial', sans-serif;

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: hsl(173.1,100%,23.7%); // Rich Teal
  --primary-color-hover: #005644; // Darker Teal
  --secondary-color: #FFC107; // Mustard Yellow
  --destructive-color: #e81a31;
  --destructive-color-hover: #c01527;
  --bg-color: #f5f5f5;
  --text-color: #222;
  --card-bg-color: #222;
  --card-bg-color-hover: #333;
  --card-text-color: #eee;
  --code-bg-color: #eee;
  --summary-hover-color: #eee;
  --border-color: #ccc;
  --header-bg-color: white;
  --details-bg-color: white;
  --success-color: green;
  --save-message-color: green;
  --save-message-color-error: red;
  --toggle-color: #222;
  --toggle-hover-color: #eee;
}

// :root[data-theme="dark"] {
//   --primary-color: #009688; // Lighter Teal
//   --primary-color-hover: #00796B; // Rich Teal
//   --secondary-color: #FFD54F; // Lighter Mustard Yellow
//   --destructive-color: #ea3a51;
//   --destructive-color-hover: #fc5a71;
//   --bg-color: #222;
//   --text-color: #eee;
//   --card-bg-color: #555;
//   --card-bg-color-hover: #444;
//   --card-text-color: #ddd;
//   --code-bg-color: #555;
//   --summary-hover-color: #444;
//   --border-color: #444;
//   --header-bg-color: #333;
//   --details-bg-color: #333;
//   --success-color: lightgreen;
//   --save-message-color: lightgreen;
//   --save-message-color-error: tomato;
//   --toggle-color: #eee;
//   --toggle-hover-color: #444;
// }

body {
  display: grid;
  grid-template-areas:
    'header'
    'content'
    'footer';

  grid-template-rows: min-content 1fr min-content;
  overscroll-behavior-y: contain;
  font-family: $font-family;
  background-color: var(--bg-color);
  color: var(--text-color);
  touch-action: manipulation; // disable ios double tap zoom
}


header {
  padding: 1em;
  background-color: var(--header-bg-color);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
}

main {
  grid-area: content;
}

.theme-btn {
  background: none;
  color: var(--toggle-color);
  border: 1px solid var(--toggle-color);
  font-size: 1.8em;
  border-radius: 5px;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;

  @media (hover: hover) {
    &:hover {
      background-color: var(--toggle-hover-color);
    }
  }
}

.save-message {
  color: var(--save-message-color);

  &--error {
    color: var(--save-message-color-error);
  }
}


header img {
  display: block;
}

.output {
  margin: 1.5em;
  color: var(--success-color);
}

.instructions {
  margin: 1.5em;
}

.output,
.instructions {
  margin-top: 1em;
  margin-bottom: 1em;
}

.output--error {
  color: red;
}

.timer {
  margin-top: 0.5em;
  display: grid;
  grid-template-areas:
    'timer timer'
    'start stop'
    'mute mute';
  grid-template-rows: 1fr min-content;
  grid-template-columns: min-content min-content;
  gap: 1em;
  justify-content: center;
}

.timer__canvas {
  grid-area: timer;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.04), 0px 8px 20px -3px rgba(0, 0, 0, 0.1), 0px 4px 8px -2px rgba(0, 0, 0, 0.06);
  background-color: var(--header-bg-color);
}

.timer__start {
  grid-area: start;
}

.timer__stop {
  grid-area: stop;
}

.timer__mute {
  grid-area: mute;
  height: 40px;
}

.btn--icon {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    height: 28x;
    width: 28px;
    margin-inline-end: 8px;
  }

  path {
    fill: currentColor;
  }
}

#qrCode {
  padding: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

// details {
//   margin: 20px;
//   // border: 1px solid var(--border-color);
//   background-color: var(--details-bg-color);
//   border-radius: 5px;
//   // box-shadow: 0px, 2px, 2px, 0px rgba(0, 0, 0, .03) 0px, 3px, 1px, -2px rgba(0, 0, 0, .07) 0px, 1px, 5px, 0px rgba(0, 0, 0, .06);
// }

// details summary {
//   padding: 15px 20px;
//   cursor: pointer;
//   font-weight: bold;

//   @media (hover: hover) {
//     &:hover {
//       background-color: var(--summary-hover-color);
//     }
//   }
// }

// details[open] summary {
//   border-bottom: 1px solid var(--border-color);
// }

// fieldset {
//   padding: 15px 20px;
// }

details p {
  padding: 15px 20px;
}

fieldset {
  border: none;
  margin: 0;

  input[type="text"],
  // input[type="number"],
  input[type="color"] {
    display: block;
  }
}

// label {
//   font-weight: 700;
// }

// label,
// input {
//   margin: 5px 0;
// }

details button {
  // margin: 15px 20px;
}

// details summary>* {
//   display: inline;
// }

// summary {
//   font-size: 1.2em;
// }

// summary>* {
//   margin-left: 0.25em;
// }

.guide {
  padding: 15px 20px;

  p {
    padding: 0;
  }

  >*+* {
    margin-top: 1em;
  }

  dt {
    font-weight: 700;
  }

  dd+dt {
    margin-top: 1em;
  }

  dd {
    margin-top: 0.5em;
    padding-inline-start: 1em;
  }

  code {
    font-family: monospace;
    background-color: var(--code-bg-color);
    padding: 0.25em 0.5em;
    border-radius: 3px;
  }
}

.btn {
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  font-weight: 700;
  padding: 10px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  transition: background-color 0.2s, transform 0.1s;

  @media (hover: hover) {
    &:hover {
      background-color: var(--primary-color-hover);
    }
  }

  &:active {
    transform: scale(0.95);
  }
}

.btn--ghost {
  background: none;
  color: var(--text-color);
  border: none;
  font-size: 0.8em;
  padding: 5px 10px;

  svg {
    height: 24px;
    width: 24px;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--text-color);
      color: var(--bg-color);
    }
  }
}

.btn-outline {
  background-color: hsl(173.1,60%,90.7%);
  border: none;
  color: hsl(173.1,100%,23.7%);
  font-size: 0.8em;

  @media (hover: hover) {
    &:hover {
      background-color: hsl(173.1,60%,65.7%);
      color: hsl(173.1,100%,13.7%);
    }
  }
}

.deleteInterval {
  // background-color: var(--destructive-color);
  // margin: 10px 0;

  // @media (hover: hover) {
  //   &:hover {
  //     background-color: var(--destructive-color-hover);
  //   }
  // }
}

video {
  width: calc(100% - 30px);
  margin: 15px auto;
}

// input[type="color"] {
//   border: 2px solid var(--border-color);
//   border-radius: 5px;
//   background: none;
//   width: 40px;
//   height: 40px;
//   cursor: pointer;
// }

.card {
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
  border-radius: 5px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.2s;

  &__title {
    font-size: 1.5em;
    font-weight: 700;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--card-bg-color-hover);
      transform: scale(1.05);
    }
  }
}


.premade {
  padding: 15px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

hr {
  border: none;
  border-top: 1px solid var(--border-color);
  margin: 20px 0;
}

footer {
  grid-area: footer;
  padding: 15px 20px;
  border-top: 1px solid var(--border-color);
  background: var(--header-bg-color);

  a {
    color: currentColor;
  }
}

.copyright {
  font-size: 0.75em;
}

.content__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px 20px;
}

.save {
  min-width: 60px;
}

// Overhaul
.c-formInputs {
  display: grid;
  grid-template-areas:
    "countdown countdown"
    "sets setrest"
    "rounds rounds"
    "skipFinalInterval skipFinalInterval";
  grid-template-columns: minmax(120px, min-content) 1fr;
}

.c-formField {
  padding: 0;
  // font-size: 0.8em;

  .c-formField-label {
    font-weight: 700;
    color: #555;
    font-size: 1em;

    &--large {
      font-size: 1.2em;
    }
  }
  
  .c-formField-inputContainer {
    padding: 0.8em 1em;
    display: flex;
    gap: 4px;
    flex-direction: column;
    cursor: text;

    &:focus-within {
      outline: 1px solid blue;
    }

    .c-formField-checkboxContainer {
      padding: 0.8em 1em;
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  // remove number input arrows
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  input[type="number"],
  input[type="text"] {
    padding: 0;
    border: 0;
    background-color: transparent;
    color: #444;
    font-size: 1em;
    font-weight: 400;
    font-family: inherit;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
  
  &--interval {
    display: grid;
    grid-template-areas: 
      "label ."
      "name color"
      "duration color"
      ". delete";
    
    grid-template-columns: 1fr minmax(90px, min-content);
    
    gap: 8px;
    padding: 0.8em 1em;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:focus-within {
      outline: 1px solid blue;
    }
    
    label {
      padding: 0;
    }

    .c-formField-intervalColor {
      height: 50px;
      width: 50px;
      justify-self: center;
      cursor: pointer;
      border: none;
      outline: none;
      background: none;
      -webkit-appearance: none;
      padding: 0;

      &::-webkit-color-swatch-wrapper {
        padding: 0;
      }

      &::-webkit-color-swatch {
        border: 1px solid #222;
        border-radius: 50%;
      }
    }
  }

  &--interval:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
  }
  
  &-intervalLabel {
    grid-area: label;
  }
  
  &-intervalName {
    grid-area: name;
  }
  
  &-intervalDuration {
    grid-area: duration;
  }
  
  &-intervalColor {
    grid-area: color;
  }
  
  &-intervalDelete {
    grid-area: delete;
  }
}

.c-formField--countdown {
  grid-area: countdown;
  border-bottom: 1px solid #ccc;
}

.c-formField--sets {
  grid-area: sets;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.c-formField--setsRest {
  grid-area: setrest;
  border-bottom: 1px solid #ccc;
}

.c-formField--rounds {
  grid-area: rounds;
  border-bottom: 1px solid #ccc;
}

.c-formField--skipFinalInterval {
  grid-area: skipFinalInterval;
  border-bottom: 1px solid #ccc;
}

.c-accordion {
  user-select: none;
  margin: 20px;
  border: 0;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.04), 0px 8px 12px -2px rgba(0, 0, 0, 0.06), 0px 4px 6px 0px rgba(0, 0, 0, 0.04);
  background-color: var(--details-bg-color);
  border-radius: 5px;

  & summary > span {
    margin-left: 0.25em;
    letter-spacing: -0.025em;
  }

  &[open] summary {
    border-bottom: 1px solid #ccc;
  }

  & summary {
    font-size: 1.2em;
    padding: 15px 20px;
    cursor: pointer;
    font-weight: bold;

    span {
      user-select: none;
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--summary-hover-color);
      }
    }
  }
}
